/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header {
    background-color: #007f3b;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.vias {
    background-color: black;
    border-radius: 1px;
    height: 5px;
    width: 100%;

}

.paradas {
    display: flex;
    justify-content: space-around;
}

.parada {
    scale: 2;
    margin-bottom: 12px;

}

.animacion {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: 50%;
    display: flex;
    border: 2px solid black;
    box-shadow: 5px 5px 10px gray;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;

}

.parada img {
    width: 50px;
}


footer {
    background-color: #007f3b;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}


footer {
    background-color: #4CAF50;
}

button {
    background: none;
    border: none;
    padding: .3em;
    border-radius: 50%;


}

button:hover {

    border: 1px solid black;
    cursor: pointer;
    animation: jumpAndSpin 1s infinite;
    transform-origin: center bottom;
    background-color: #4caf4f;
}

@keyframes jumpAndSpin {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);

    }

    100% {
        transform: translateY(0);

    }
}

#tranvia {
    width: 10%;
    margin-top: 10px;
}